<!DOCTYPE html>
<html>
<head>
    <title>Win a Surface Pro!!!</title>
</head>
<body style="text-align: center;">

    <h1 style="font-size: 1.7em;">Thank you winner, you'll hear from us soon!!!</h1>

</body>
</html>
