
@{
    ViewBag.Title = "Password reset complete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<hgroup>
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="alert alert-success">Your password has now been successfully reset.</p>