@model MyStore.WebUI.Models.PasswordResetModel


@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="panel col-md-4">
        <div class="panel-heading">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary()

                <fieldset>
                    <legend>Enter your email address to reset.</legend>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" value="Reset"class="btn btn-primary"/>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>