@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<hgroup>
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="alert alert-success">An email with further instructions has been sent to the address you entered.</p>
